.App {
  text-align: center;
}
.navbar{
  background: black;
  color: white;
  font-size: large;
  font-weight: bold;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navbar span{
  /* margin-top: 0px; */
  
}

.navbar a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

